<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/css/cropper.css" rel="stylesheet" type="text/css" />
      
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
      
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/users ">Users list</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">categories</span>
                    </a>
                    <div class="submenu">
                        
                        <a href="/admin/categories">Categories</a>
                    </div>
                </li>
              
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products" class="active"> Product-list </a>   
                    </div>
                    <div class="submenu">
                        <a href="page-form-product-3.html" class="active"> Add product </a>   
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/order"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        
                        <a href="/admin/order">Order</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href='/admin/coupon'> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupon</span>
                    </a>
                    <div class="submenu">
                        <a href='/admin/coupon'>Coupon</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href='/admin/salesreport'> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Sales report</span>
                    </a>
                    <div class="submenu">
                        <a href='/admin/salesreport'>Sales Report</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href='/admin/offer'> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">offers</span>
                    </a>
                    <div class="submenu">
                        <a href='/admin/offer'>offers</a>
                    </div>
                </li>
             
             
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
             
            </div>
        
            <div class="col-nav">
                <div>
                    <a href="/admin/logout" class="btn btn-danger w-100 w-md-auto text-uppercase" id="logoutButton">Logout</a>
                </div>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form id="editproduct" action="/admin/edit-product/<%= Products._id %>" method="post" enctype="multipart/form-data">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" name="productname" placeholder="Type here" class="form-control" id="product_title" value="<%= Products.productname %>" />
                            </div>
                            <div class="row gx-3">
    
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Color</label>
                                    <input type="text" name="color" placeholder="Type here" class="form-control" id="product_color" value="<%= Products.color %>" />
                                </div>
                            </div>
                            <!-- <div class="mb-4">
                                <label for="product_brand" class="form-label">Brand</label>
                                <input type="text" placeholder="Type here" name ="brand" class="form-control" id="product_brand" value="<%= Products.brand %>" />
                            </div> -->
                            <div>
                                <label for ="product_Description" class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" class="form-control" rows="4"><%= Products.description %></textarea>
                            </div>
                            <div>
                               
                                <label for="Images" style="float: left; margin-left: 1rem;">Images</label>
        
                          
                            <!-- <input type="file" name="images" style=" margin-top: 20px;" id="Img1" accept="image/*" required>
                            <button type="button" class="btn btn-md rounded font-sm hover-up"
                                onclick="loadImage('Img1')">Crop</button> -->


                                <input  type="file" multiple name="image" id="imageinput">
                                <div id="imageContainer"></div>
                               <% for(let i = 0 ; i < 5 ; i++ ) { %>
                                    <% if(Products.image[i]) { %>
                                <div class="m-2 " id="imgdiv<%= i %>" class="">
                                    <input type="text" id="oldimage<%= i %>" name="oldimage" value="<%= Products.image[i] %>" style="display: none;" >
                                    <button id="button<%= i %>"  class="btn btn-primary" type="button" >Change</button>
                                    <button id="deletebutton<%= i %>"  class="btn btn-dabger" type="button" >Delete</button>
                                    <input type="file"  value="<%= Products.image[i] %>" style="display: none;" id="input<%= i %>">
                                
                                </div>
                                 <img class="uploadedimg" alt="Upload new image" id="image<%= i %>" style="width: 300px; height: 300px;" src="/userImages/<%= Products.image[i] %>"> 
                                 <% } 
            
                                 else { %>
                                    <div class="m-2 " id="imgdiv<%= i %>" class="">
                                    <div class="my-2"><button id="button<%= i %>"  class="btn btn-primary" type="button" >Add</button>
                                    <button id="deletebutton<%= i %>" style="display: none;" class="btn btn-danger" type="button" >Delete</button>
                                    <input type="file" name="" style="display: none;" id="input<%= i %>" accept="image/jpeg,image/jpg">
                                    </div>
                                    <img class="uploadedimg"  alt="Upload new image" id="image<%= i %>" style="width: 250px; height: 250px; display: none;" src=""> 
                                </div>
                                  <% } %>               
                                <% } %>
                        <input id="productImageCount" type="number" hidden value="<%= Products.image.length  %>">
                             <div class="mb-4">
                                <label for ="product_Price" class="form-label">Price</label>
                                <input type="number" name="productprice"  id="product_price_input" placeholder="Type here" class="form-control"  value="<%= Products.price %>" />
                            </div>
                            <div class="mb-4">
                                <label for ="product_Price" class="form-label">Stock</label>
                                <input type="number" name="stock"  id="product_price_input" placeholder="Type here" class="form-control"  value="<%= Products.stock %>" />
                            </div>
                            <div class="mb-4">
                                <select name="category" class="form-control">
                                    <option value="" selected disabled>Select Category</option>
                                    <% category.forEach(cat => { %>
                                        <option value="<%= cat.name %>"><%= cat.name %></option>
                                    <% }); %>
                                </select>
                              
                            </div>
                            <input type = "hidden" name = "id" value="<%= Products._id %>">
                            <div class="mb=4">
                            <button type = "submit" class="btn btn-md rounded font-sm hover-up">Update</button>
                        </div>
                            </form>
                            <p style="color: red; margin-top: 10px;" id="err15">.</p>
                            <% if(typeof message !== 'undefined'){
                                %>
                                <p style = "color: red;"><%= message %></p>
                                <%
                            }
                             %>
                        </div>
                    </div> <!-- card end// -->
                </div>
             </div>
            </section>
        <footer class="main-footer font-xs">
            
        </footer>
    </main>
    <script src="/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js/vendors/select2.min.js"></script>
    <script src="/js/vendors/perfect-scrollbar.js"></script>
    <script src="/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/js/cropper/cropper.js"></script>
    <script src="/js/cropper/cropper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>


    <!-- Main Script -->
    <script src="/js/main.js" type="text/javascript"></script>
    <script>
        // Get the input element
        console.log('hi');
        const productPriceInput = document.getElementById('product_price_input');
    
        // Add event listener to listen for changes in the input field
        productPriceInput.addEventListener('change', function() {
            // Get the entered value
            let price = parseInt(productPriceInput.value);
    
            // Check if the value is negative
            if (price < 0) {
                // If negative, set it to zero
                productPriceInput.value = 0;
                // Or display a message to the user
                // alert('Price cannot be negative. Setting it to zero.');
                // You can uncomment the line above to display an alert message
            }
        });
    </script>
    <script>
        document.getElementById('editproduct').onsubmit = function (e) {
            let errors = [];
            const productTitle = document.getElementById('product_title').value.trim();
            const color = document.getElementById('product_color').value.trim();
            const description = document.querySelector('textarea[name="description"]').value.trim();
            const price = document.getElementById('product_price_input').value.trim();
            const stock = document.getElementById('product_price_input').value.trim();
            const images = document.querySelectorAll('input[type="file"]').length;
    
            // Validate Product Title
            if (!productTitle) {
                errors.push('Product title is required.');
            }
    
            // Validate Color
            if (!color) {
                errors.push('Color is required.');
            }
    
            // Validate Description
            if (!description) {
                errors.push('Description is required.');
            }
    
            // Validate Price
            if (!price) {
                errors.push('Price is required.');
            } else if (isNaN(price) || price <= 0) {
                errors.push('Price should be a valid number.');
            }
    
            // Validate Stock
            if (!stock) {
                errors.push('Stock is required.');
            } else if (isNaN(stock) || stock < 0) {
                errors.push('Stock should be a valid number.');
            }
    
            // Validate Images
            if (!images) {
                errors.push('At least one image is required.');
            }
    
            // Display errors or allow form submission
            if (errors.length > 0) {
                e.preventDefault(); // Prevent form submission
                const errorContainer = document.getElementById('err15');
                errorContainer.textContent = errors.join(' ');
            }
        };
    </script>
    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>